<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <meta charset="UTF-8">
    </head>

    <body>

        <div>
            <form action="/result" method="post">
                <ul> patates </ul>
                <ul> <input type="number" id="00" name="quantites" placeholder="quantites"> </ul>
                <ul> <input type="number" id="01" name="distance" placeholder="distance"> </ul>
                <ul> <input type="submit" id="submit"> </ul>
            </form>
        </div>

        <% json.objects.forEach(objects => { %>
            <div>
                <h3><%= objects.nom %></h3>
                J'en veux <input type="number" id="qte" name="quantity" min="0" value="0" max="<%= objects.quantites %>" placeholder="0">
    
            </div>
        <%}) %>

    </body>
</html> 