<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <meta charset="UTF-8">

        <script src="client.js" defer></script>
    </head>

    <body>

        <div>
            <form action="/result" method="post">
                <ul> patates </ul>
                <ul> <input type="number" id="00" name="quantites" placeholder="quantites"> </ul>
                <ul> <input type="number" id="01" name="distance" placeholder="distance"> </ul>
                <ul> <input type="submit" id="submit"> </ul>
            </form>
        </div>

        <% json.objects.forEach(objects => { %>
            <div class="object" data-item-id="<%= objects.nom %>">
                <span class="object_name"><%= objects.nom %></span>
                <img class="object_image" src="images/<%= objects.image %>">
            </div>
        <%}) %>

    </body>
</html> 