<!DOCTYPE html>
<html>
    <head>
        <title>Service SOAP TP INFO802</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>OOPS!</h1>
        <p>Il semblerait que vous vous êtes trompé de site!</p>
        <p>Consultez <a href="https://info802follietmartin.herokuapp.com/">ce lien</a> pour accéder au site utilisant ce service SOAP</p>
        <br/>
        <h3>Vous êtes ici pour observer le fichier wsdl du service?</h3>
        <p>Le voici: <a href="https://soapserviceinfo802mf.herokuapp.com/wsld?wsdl">https://soapserviceinfo802mf.herokuapp.com/</a> </p>
    </body>
</html> 