<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>

        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="pagePaiment.js" defer></script>

        <meta charset="UTF-8">
    </head>

    <body>

        <p class="price_text"> vous devez payer:
        <span class="price_pay"><%= prix %>€</span></p>
            <button class="button_buy" type="button">Acheter</button>
            <br>
            <button class="return" type="button" onclick="window.location.href='/'">Retourner au magasin</button>
            <br>
            <a href="https://stripe.com/docs/testing">Voici la liste de carte bleues pour tester les différentes situations de l'api stripe</a>
    </body>
</html> 