<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <meta charset="UTF-8">
    </head>

    <body>

        <p> vous devez payer <%= prix %> </p>
        <form action="/payez" method="post">
            <input type="text" id ="00" name="cb" placeholder="votre carte bleue ici">
            <button type="submit" name="prix" id="submit" value="<%= prix %>">payez </button>
        </form>

    </body>
</html> 