<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <meta charset="UTF-8">
    </head>

    <body>

        <p> vous devez payer <%= prix %> </p>

    </body>
</html> 