<!DOCTYPE html>
<html>
    <head>
        <title>Client soap rest graphql</title>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>

        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="res.js" defer></script>
        <meta charset="UTF-8">
    </head>

    <body>

        <p> vous devez payer:</p>
        <p class="prixAPayer"><%= prix %>€</p>
            <button class="button_buy" type="button">Acheter</button>
    </body>
</html> 