@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

* {
    font-family: Raleway;
    box-sizing: border-box;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.shop_title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-weight: normal;
    color: white;
}

.content_section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section_header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn_primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn_primary:hover {
    background-color: #2D9CDB;
}

.objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    justify-content: center;
}

.object {
    margin: 30px;
    display: table-column;
}

.object_name {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.object_image {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.object_pb, .object_qt {
    display:flex;
    align-items: center;
    padding: 5px;
}

.object_qt{
    text-align: center;
}

 .quantity_text {
    flex-grow: 1;

    color: #333;
    align-items: center;
}


.object_quantity, .object_price{
    flex-grow: 1;
    flex-grow: 1;

    font-size: 1.1em;
    color: rgb(26, 0, 170);
}


.cart_header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart_column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.row {
    display: flex;
}

.cart_object {
    width: 45%;
}

.cart_price {
    width: 20%;
    font-size: 1.2em;
    margin-left: .5em;
    color: #333;
}

.cart_text{
    margin-left: 1em;
}

.cart_quantity {
    width: 35%;
}

.cart_object_name {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart_object_image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn_danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn_danger:hover {
    background-color: #CC4C4C;
}

.cart_quantity_input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.row:last-child {
    border-bottom: 1px solid black;
}

.row:last-child .cart_column {
    border: none;
}

.distance {
    margin: 5%;
    height: 34px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;

    display: block;
    margin-right: auto;
    margin-left: auto;
}

.cart_total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart_total_name {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart_total_price {
    color: #333;
    font-size: 1.1em;
}

.btn_deliveries {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.shop_name
{
    color: white;
    text-align: center;
    float: center;
    font-weight: 600;
    font-size: 2em;
}

.TP{
    color: white;
    float: center;
    font-weight: 600;
    font-size: 0.9em;
    align-items: center;
}

.PE{
    color: white;
    float: center;
    font-weight: 600;
    font-size: 0.9em;
    align-items: center;
}

.MF{
    color: white;
    float : right;
    text-align: right;
    font-weight: bold;
}