@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.shop_title {
    text-align: center;
    margin: 0;
    font-size: 8em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.content_section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section_header {
    font-family: "Arial";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn_primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn_primary:hover {
    background-color: #2D9CDB;
}

.object {
    margin: 30px;
}

.object_name {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.object_image {
    height: 250px;
}

.object_pb {
    display: flex;
    align-items: center;
    padding: 5px;
}

.object_price, .object_qt_text {
    flex-grow: 1;
    color: #333;
}

.objects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}